<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     backupGlobals="false"
     backupStaticAttributes="false"
     beStrictAboutTestsThatDoNotTestAnything="false"
     bootstrap="vendor/autoload.php"
     colors="true"
     convertErrorsToExceptions="true"
     convertNoticesToExceptions="true"
     convertWarningsToExceptions="true"
     processIsolation="false"
     stopOnFailure="false"
     verbose="true"
     xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">

    <testsuites>
        <testsuite name="Tests">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <coverage includeUncoveredFiles="false">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing" />
    </php>
</phpunit>
